# Eduhub Project

In [29]:
# Test that Jupyter notebooks works 
print ("Hello World")

Hello World

 ## Part 1: Database Setup and Data Modeling
 ### Task 1.1: Create Database and Collections

In [30]:
# Import required libraries
from pymongo import MongoClient
from datetime import datetime
import pandas as pd
from faker import Faker
import json

# Initialize Faker for generating sample data
fake = Faker()

# Establish MongoDB connection
client = MongoClient('mongodb+srv://maleagava:RadFame@eduhub-mongodb-project.coocld6.mongodb.net/')
db = client['eduhub_db']

# Drop existing database for a clean start
client.drop_database('eduhub_db')

# Create collections with validation rules
db.create_collection('users', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['userId', 'email', 'firstName', 'lastName', 'role', 'dateJoined', 'isActive'],
        'properties': {
            'userId': {'bsonType': 'string'},
            'email': {'bsonType': 'string', 'pattern': '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$'},
            'firstName': {'bsonType': 'string'},
            'lastName': {'bsonType': 'string'},
            'role': {'enum': ['student', 'instructor']},
            'dateJoined': {'bsonType': 'date'},
            'profile': {
                'bsonType': 'object',
                'properties': {
                    'bio': {'bsonType': 'string'},
                    'avatar': {'bsonType': 'string'},
                    'skills': {'bsonType': 'array', 'items': {'bsonType': 'string'}}
                }
            },
            'isActive': {'bsonType': 'bool'}
        }
    }
})

db.create_collection('courses', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['courseId', 'title', 'instructorId', 'category', 'level', 'duration', 'price', 'createdAt', 'isPublished'],
        'properties': {
            'courseId': {'bsonType': 'string'},
            'title': {'bsonType': 'string'},
            'description': {'bsonType': 'string'},
            'instructorId': {'bsonType': 'string'},
            'category': {'bsonType': 'string'},
            'level': {'enum': ['beginner', 'intermediate', 'advanced']},
            'duration': {'bsonType': 'double'},
            'price': {'bsonType': 'double'},
            'tags': {'bsonType': 'array', 'items': {'bsonType': 'string'}},
            'createdAt': {'bsonType': 'date'},
            'updatedAt': {'bsonType': 'date'},
            'isPublished': {'bsonType': 'bool'}
        }
    }
})

db.create_collection('enrollments', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['enrollmentId', 'studentId', 'courseId', 'enrollmentDate', 'progress'],
        'properties': {
            'enrollmentId': {'bsonType': 'string'},
            'studentId': {'bsonType': 'string'},
            'courseId': {'bsonType': 'string'},
            'enrollmentDate': {'bsonType': 'date'},
            'progress': {'bsonType': 'double'},
            'completionDate': {'bsonType': 'date'}
        }
    }
})

db.create_collection('lessons', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['lessonId', 'courseId', 'title', 'content'],
        'properties': {
            'lessonId': {'bsonType': 'string'},
            'courseId': {'bsonType': 'string'},
            'title': {'bsonType': 'string'},
            'content': {'bsonType': 'string'},
            'duration': {'bsonType': 'double'}
        }
    }
})

db.create_collection('assignments', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['assignmentId', 'courseId', 'title', 'dueDate'],
        'properties': {
            'assignmentId': {'bsonType': 'string'},
            'courseId': {'bsonType': 'string'},
            'title': {'bsonType': 'string'},
            'description': {'bsonType': 'string'},
            'dueDate': {'bsonType': 'date'}
        }
    }
})

db.create_collection('submissions', validator={
    '$jsonSchema': {
        'bsonType': 'object',
        'required': ['submissionId', 'assignmentId', 'studentId', 'submissionDate'],
        'properties': {
            'submissionId': {'bsonType': 'string'},
            'assignmentId': {'bsonType': 'string'},
            'studentId': {'bsonType': 'string'},
            'submissionDate': {'bsonType': 'date'},
            'content': {'bsonType': 'string'},
            'grade': {'bsonType': 'double'},
            'feedback': {'bsonType': 'string'}
        }
    }
})

print("Database and collections created successfully!")

Database and collections created successfully!

### Task 1.2: Design Document Schemas

Below are the schema designs for each collection, including field descriptions and relationships.

#### Users Collection
- **_id**: Auto-generated ObjectId
- **userId**: Unique string identifier (e.g., UUID)
- **email**: Unique email address (required, validated format)
- **firstName**: User's first name (required)
- **lastName**: User's last name (required)
- **role**: User role, either 'student' or 'instructor' (required)
- **dateJoined**: Date of registration (required)
- **profile**: Embedded document with bio, avatar URL, and skills array
- **isActive**: Boolean indicating active status (required)

#### Courses Collection
- **_id**: Auto-generated ObjectId
- **courseId**: Unique string identifier
- **title**: Course title (required)
- **description**: Course description
- **instructorId**: Reference to users.userId (required)
- **category**: Course category (e.g., Programming, Design)
- **level**: Course level (beginner, intermediate, advanced)
- **duration**: Course duration in hours (required)
- **price**: Course price in USD (required)
- **tags**: Array of tags for search
- **createdAt**: Creation date (required)
- **updatedAt**: Last update date
- **isPublished**: Boolean indicating publication status (required)

#### Enrollments Collection
- **_id**: Auto-generated ObjectId
- **enrollmentId**: Unique string identifier
- **studentId**: Reference to users.userId
- **courseId**: Reference to courses.courseId
- **enrollmentDate**: Date of enrollment (required)
- **progress**: Percentage completion (0-100)
- **completionDate**: Date of course completion (optional)

#### Lessons Collection
- **_id**: Auto-generated ObjectId
- **lessonId**: Unique string identifier
- **courseId**: Reference to courses.courseId
- **title**: Lesson title (required)
- **content**: Lesson content (required)
- **duration**: Lesson duration in hours

#### Assignments Collection
- **_id**: Auto-generated ObjectId
- **assignmentId**: Unique string identifier
- **courseId**: Reference to courses.courseId
- **title**: Assignment title (required)
- **description**: Assignment description
- **dueDate**: Assignment due date (required)

#### Submissions Collection
- **_id**: Auto-generated ObjectId
- **submissionId**: Unique string identifier
- **assignmentId**: Reference to assignments.assignmentId
- **studentId**: Reference to users.userId
- **submissionDate**: Date of submission (required)
- **content**: Submission content
- **grade**: Submission grade (0-100)
- **feedback**: Instructor feedback

## Part 2: Data Population
### Task 2.1: Insert Sample Data
This section uses the Faker library to generate realistic sample data for all collections.

In [32]:
import random
import uuid
from datetime import timedelta

client.drop_database('eduhub_db')

# Education-specific data
course_titles = [
    "Introduction to Python Programming",
    "Advanced Machine Learning",
    "Web Development with JavaScript",
    "Data Structures and Algorithms",
    "Graphic Design Fundamentals",
    "Business Analytics",
    "Database Management Systems",
    "Mobile App Development"
]
course_categories = ["Programming", "Data Science", "Web Development", "Algorithms", "Design", "Business", "Databases", "Mobile Development"]
assignment_titles = [
    "Python Functions Homework",
    "Machine Learning Model Project",
    "Build a Responsive Website",
    "Implement Sorting Algorithms",
    "Create a Logo Design",
    "Business Case Study",
    "SQL Query Assignment",
    "Mobile App Prototype"
]
lesson_titles = [
    "Variables and Data Types",
    "Supervised Learning Basics",
    "HTML and CSS Foundations",
    "Binary Search Trees",
    "Color Theory in Design",
    "Market Analysis Techniques",
    "Relational Database Design",
    "UI/UX for Mobile Apps"
]
description_templates = [
    "Write a program to {task}.",
    "Analyze a dataset using {tool}.",
    "Design a {item} for a client.",
    "Implement a {algorithm} in {language}.",
    "Create a {deliverable} based on {concept}.",
    "Solve a business problem using {method}.",
    "Query a database to retrieve {data}.",
    "Build a prototype for a {feature}."
]
tools_concepts = ["pandas", "scikit-learn", "React", "Python", "Figma", "Excel", "SQL", "Flutter"]
deliverables = ["web page", "machine learning model", "logo", "algorithm", "report", "query set", "app interface"]

# Helper function to generate unique IDs
def generate_id():
    return str(uuid.uuid4())

# Drop database for clean start
client.drop_database('eduhub_db')
print("Dropped eduhub_db for clean start")

# Generate Users (15 students, 5 instructors)
db.users.delete_many({})
users = []
for _ in range(15):  # Students
    users.append({
        'userId': generate_id(),
        'email': fake.email(),
        'firstName': fake.first_name(),
        'lastName': fake.last_name(),
        'role': 'student',
        'dateJoined': fake.date_time_this_year(),
        'profile': {
            'bio': f"Student interested in {random.choice(course_categories)}.",
            'avatar': fake.image_url(),
            'skills': random.sample(course_categories, 3)
        },
        'isActive': True
    })
for _ in range(5):  # Instructors
    users.append({
        'userId': generate_id(),
        'email': fake.email(),
        'firstName': fake.first_name(),
        'lastName': fake.last_name(),
        'role': 'instructor',
        'dateJoined': fake.date_time_this_year(),
        'profile': {
            'bio': f"Instructor specializing in {random.choice(course_categories)}.",
            'avatar': fake.image_url(),
            'skills': random.sample(course_categories, 5)
        },
        'isActive': True
    })
db.users.insert_many(users)
print("Inserted users:", db.users.count_documents({}))

# Generate Courses
db.courses.delete_many({})
levels = ['beginner', 'intermediate', 'advanced']
instructor_ids = [u['userId'] for u in db.users.find({'role': 'instructor'})]
courses = []
for i in range(8):
    course_id = generate_id()
    courses.append({
        'courseId': course_id,
        'title': course_titles[i],
        'description': f"Learn the fundamentals of {course_titles[i].lower()} through hands-on projects and expert guidance.",
        'instructorId': fake.random_element(instructor_ids),
        'category': course_categories[i],
        'level': fake.random_element(levels),
        'duration': float(fake.random_int(min=5, max=50)),
        'price': float(round(fake.random_number(digits=2) + fake.random.random(), 2)),
        'tags': random.sample(course_categories, 4),
        'createdAt': fake.date_time_this_year(),
        'updatedAt': fake.date_time_this_year(),
        'isPublished': fake.boolean()
    })
db.courses.insert_many(courses)
print("Inserted courses:", db.courses.count_documents({}))

# Generate Enrollments
db.enrollments.delete_many({})
student_ids = [u['userId'] for u in db.users.find({'role': 'student'})]
course_ids = [c['courseId'] for c in db.courses.find()]
enrollments = []
for _ in range(15):
    enrollment = {
        'enrollmentId': generate_id(),
        'studentId': fake.random_element(student_ids),
        'courseId': fake.random_element(course_ids),
        'enrollmentDate': fake.date_time_this_year(),
        'progress': float(round(fake.random.random() * 100, 2)),
        'completionDate': fake.date_time_this_year() if fake.boolean() else None
    }
    enrollments.append(enrollment)

db.enrollments.insert_many(enrollments)
print("Inserted enrollments:", db.enrollments.count_documents({}))

# Generate Lessons
db.lessons.delete_many({})
lessons = []
for course in db.courses.find():
    for i in range(fake.random_int(min=2, max=5)):
        lessons.append({
            'lessonId': generate_id(),
            'courseId': course['courseId'],
            'title': lesson_titles[i % len(lesson_titles)],
            'content': f"This lesson covers {lesson_titles[i % len(lesson_titles)].lower()} with practical examples and exercises.",
            'duration': round(fake.random.random() * 2, 2)
        })
db.lessons.insert_many(lessons)
print("Inserted lessons:", db.lessons.count_documents({}))

# Generate Assignments
db.assignments.delete_many({})
assignments = []
for course in db.courses.find():
    for i in range(fake.random_int(min=1, max=3)):
        template = random.choice(description_templates)
        assignments.append({
            'assignmentId': generate_id(),
            'courseId': course['courseId'],
            'title': assignment_titles[i % len(assignment_titles)],
            'description': template.format(
                task=random.choice(assignment_titles).lower(),
                tool=random.choice(tools_concepts),
                item=random.choice(deliverables),
                algorithm=random.choice(["sorting", "searching", "graph traversal"]),
                language=random.choice(["Python", "JavaScript", "SQL"]),
                deliverable=random.choice(deliverables),
                concept=random.choice(tools_concepts),
                method=random.choice(["analysis", "design", "implementation"]),
                data=random.choice(["sales records", "user data", "student grades"]),
                feature=random.choice(["login system", "dashboard", "notification"])
            ),
            'dueDate': fake.date_time_this_month()
        })
db.assignments.insert_many(assignments)
print("Inserted assignments:", db.assignments.count_documents({}))

# Generate Submissions
db.submissions.delete_many({})
assignment_ids = [a['assignmentId'] for a in db.assignments.find()]
submissions = []
for _ in range(12):
    submissions.append({
        'submissionId': generate_id(),
        'assignmentId': fake.random_element(assignment_ids),
        'studentId': fake.random_element(student_ids),
        'submissionDate': fake.date_time_this_month(),
        'content': f"Submitted work for {random.choice(assignment_titles).lower()}.",
        'grade': float(round(fake.random.random() * 100, 2)),
        'feedback': f"Good work on {random.choice(assignment_titles).lower()}, improve {random.choice(tools_concepts)} usage."
    })
db.submissions.insert_many(submissions)
print("Inserted submissions:", db.submissions.count_documents({}))

print("Sample data inserted successfully!")

Dropped eduhub_db for clean start
Inserted users: 20
Inserted courses: 8
Inserted enrollments: 15
Inserted lessons: 30
Inserted assignments: 16
Inserted submissions: 12
Sample data inserted successfully!

## Task 2.2: Data Relationships
Verifying referential integrity by checking references between collections.

In [33]:
# Verify course instructor references
courses = db.courses.find()
for course in courses:
    instructor = db.users.find_one({'userId': course['instructorId'], 'role': 'instructor'})
    print(f"Course {course['title']} has valid instructor: {instructor is not None}")

# Verify enrollment references
enrollments = db.enrollments.find()
for enrollment in enrollments:
    student = db.users.find_one({'userId': enrollment['studentId'], 'role': 'student'})
    course = db.courses.find_one({'courseId': enrollment['courseId']})
    print(f"Enrollment {enrollment['enrollmentId']} has valid student: {student is not None}, course: {course is not None}")

Course Introduction to Python Programming has valid instructor: True
Course Advanced Machine Learning has valid instructor: True
Course Web Development with JavaScript has valid instructor: True
Course Data Structures and Algorithms has valid instructor: True
Course Graphic Design Fundamentals has valid instructor: True
Course Business Analytics has valid instructor: True
Course Database Management Systems has valid instructor: True
Course Mobile App Development has valid instructor: True
Enrollment 5fc41ee0-0ce6-4e49-aa07-a1ae651fb00a has valid student: True, course: True
Enrollment 12aa9255-61a3-42e4-9ef9-5655bd2492ab has valid student: True, course: True
Enrollment a8e651fe-ca0a-46c2-83e4-5f897fcce572 has valid student: True, course: True
Enrollment a14d5254-a5c1-4379-baea-a496702582f5 has valid student: True, course: True
Enrollment a4295066-77d1-4499-8375-0935a0d8c643 has valid student: True, course: True
Enrollment 876a2ac9-a4ce-461e-b192-cf5978527905 has valid student: True, course: True
Enrollment be9fa698-8626-4b48-a32b-585af61e8505 has valid student: True, course: True
Enrollment 37c518a3-11a5-4758-9101-88797a625582 has valid student: True, course: True
Enrollment a7186782-02cc-4ca2-9b5e-d6a39a0e41f1 has valid student: True, course: True
Enrollment bf9e4f69-d3fb-4e1a-8d68-8e47a4c54148 has valid student: True, course: True
Enrollment 27cb395d-49c7-45f4-b60a-582f6ec8282d has valid student: True, course: True
Enrollment e0177c15-c51a-4ba7-8f9a-08f6b67860b2 has valid student: True, course: True
Enrollment 5c5859e7-1157-4fca-a4d1-a4d35bc70225 has valid student: True, course: True
Enrollment 89911bf9-8b75-4983-a7f0-47fedea60985 has valid student: True, course: True
Enrollment a427287a-6920-4666-8a71-1a8ba6dd3db9 has valid student: True, course: True

# Part 3: Basic CRUD Operations
## Task 3.1: Create Operations

In [36]:
# Education-specific data
course_titles = [
    "Introduction to Python Programming",
    "Advanced Machine Learning",
    "Web Development with JavaScript",
    "Data Structures and Algorithms",
    "Graphic Design Fundamentals",
    "Business Analytics",
    "Database Management Systems",
    "Mobile App Development"
]
course_categories = ["Programming", "Data Science", "Web Development", "Algorithms", "Design", "Business", "Databases", "Mobile Development"]
assignment_titles = [
    "Python Functions Homework",
    "Machine Learning Model Project",
    "Build a Responsive Website",
    "Implement Sorting Algorithms",
    "Create a Logo Design",
    "Business Case Study",
    "SQL Query Assignment",
    "Mobile App Prototype"]

# Add a new student
new_student = {
    'userId': generate_id(),
    'email': fake.email(),
    'firstName': fake.first_name(),
    'lastName': fake.last_name(),
    'role': 'student',
    'dateJoined': fake.date_time_this_year(),
    'profile': {
        'bio': f"Student interested in {random.choice(course_categories)}.",
        'avatar': fake.image_url(),
        'skills': random.sample(course_categories, 3)
    },
    'isActive': True
}
db.users.insert_one(new_student)
print("New student added:", new_student['userId'])

# Create a new course
new_course = {
    'courseId': course_id,
        'title': course_titles[i],
        'description': f"Learn the fundamentals of {course_titles[i].lower()} through hands-on projects and expert guidance.",
        'instructorId': fake.random_element(instructor_ids),
        'category': course_categories[i],
        'level': fake.random_element(levels),
        'duration': float(fake.random_int(min=5, max=50)),
        'price': float(round(fake.random_number(digits=2) + fake.random.random(), 2)),
        'tags': random.sample(course_categories, 4),
        'createdAt': fake.date_time_this_year(),
        'updatedAt': fake.date_time_this_year(),
        'isPublished': fake.boolean()
}
db.courses.insert_one(new_course)
print("New course added:", new_course['courseId'])

New student added: d37fcead-a55a-43c4-976c-06b92949ff5c
New course added: 49dd82df-af24-4d97-934d-df31eb9b5780

## Task 3.2: Read Operations

In [38]:
# Find all active students
active_students = list(db.users.find({'role': 'student', 'isActive': True}))
print("Active Students:")
display(pd.DataFrame(active_students))

# Retrieve course details with instructor information
course_with_instructor = list(db.courses.aggregate([
    {'$lookup': {
        'from': 'users',
        'localField': 'instructorId',
        'foreignField': 'userId',
        'as': 'instructor'
    }},
    {'$unwind': '$instructor'}
]))
print("Courses with Instructor Details:")
display(pd.DataFrame(course_with_instructor))

# Get all courses in a specific category
programming_courses = list(db.courses.find({'category': 'Programming'}))
print("Programming Courses:")
display(pd.DataFrame(programming_courses))

# Find students enrolled in a specific course
course_id = db.courses.find_one()['courseId']
enrolled_students = list(db.enrollments.aggregate([
    {'$match': {'courseId': course_id}},
    {'$lookup': {
        'from': 'users',
        'localField': 'studentId',
        'foreignField': 'userId',
        'as': 'student'
    }},
    {'$unwind': '$student'}
]))
print(f"Students enrolled in course {course_id}:")
display(pd.DataFrame(enrolled_students))

# Search courses by title (case-insensitive, partial match)
search_query = 'learn'
courses_by_title = list(db.courses.find({'title': {'$regex': search_query, '$options': 'i'}}))
print(f"Courses matching '{search_query}':")
display(pd.DataFrame(courses_by_title))

Active Students:

,_id,userId,email,firstName,lastName,role,dateJoined,profile,isActive
0,684edf4ec4be2c0a4fddb33b,0cfe81a2-61e3-41e7-b228-4f7429c5fb66,cantrellamanda@example.org,Deborah,Bishop,student,2025-06-03 04:44:31,"{'bio': 'Student interested in Design.', 'avat...",True
1,684edf4ec4be2c0a4fddb33c,b1305534-e00a-4a2b-b63d-0e8aa260f846,hawkinswilliam@example.net,Scott,Wright,student,2025-03-12 12:08:51,"{'bio': 'Student interested in Algorithms.', '...",True
2,684edf4ec4be2c0a4fddb33d,c61cb5bb-d7a8-4bbd-9b31-c527e9dbf422,alicia12@example.net,John,Stephens,student,2025-01-25 09:01:43,"{'bio': 'Student interested in Programming.', ...",True
3,684edf4ec4be2c0a4fddb33e,aff8c2e0-035d-496f-810c-a21b4c4d020a,ykelly@example.net,Mary,Lindsey,student,2025-04-30 08:23:30,"{'bio': 'Student interested in Programming.', ...",True
4,684edf4ec4be2c0a4fddb33f,310fc880-9f82-46c0-9871-13f57bfb7b1d,steven16@example.org,Barbara,Gonzalez,student,2025-03-20 14:12:38,"{'bio': 'Student interested in Data Science.',...",True
5,684edf4ec4be2c0a4fddb340,4e7c99f9-02fb-4c23-8897-3d8e0ff618f2,cruzmaria@example.com,Julian,Love,student,2025-05-30 14:46:32,{'bio': 'Student interested in Web Development...,True
6,684edf4ec4be2c0a4fddb341,ab3dc4d9-aeb8-4f2e-afdb-c15e8707ebc2,vflores@example.org,Robert,Roy,student,2025-03-30 03:07:23,{'bio': 'Student interested in Web Development...,True
7,684edf4ec4be2c0a4fddb342,40f80683-b71f-4003-9fd3-90be7595f97b,duncankevin@example.com,Mark,Hunt,student,2025-02-24 07:44:32,"{'bio': 'Student interested in Databases.', 'a...",True
8,684edf4ec4be2c0a4fddb343,11282e66-ba58-4996-9919-64e0ad22e8c8,juanwilliams@example.org,Rebecca,Dawson,student,2025-01-06 17:20:39,{'bio': 'Student interested in Web Development...,True
9,684edf4ec4be2c0a4fddb344,8a9bd204-c798-45b8-9dfe-3a3a4489c6e6,josephporter@example.net,Jodi,Fields,student,2025-03-09 10:43:48,"{'bio': 'Student interested in Programming.', ...",True
10,684edf4ec4be2c0a4fddb345,5ef2d593-7b3f-481a-85b8-af3dfdaee1c7,joanna84@example.net,Richard,Miller,student,2025-02-22 12:49:25,"{'bio': 'Student interested in Programming.', ...",True
11,684edf4ec4be2c0a4fddb346,5848c3bc-dbe7-41b5-be98-908cdd9e4f68,ibrown@example.net,Jessica,Hernandez,student,2025-01-29 04:06:21,"{'bio': 'Student interested in Algorithms.', '...",True
12,684edf4ec4be2c0a4fddb347,bfbfee02-5ff0-4bbf-ae74-59c524584522,katherinepollard@example.com,Edwin,Santana,student,2025-01-08 23:38:08,{'bio': 'Student interested in Mobile Developm...,True
13,684edf4ec4be2c0a4fddb348,e3ead7e4-2e97-4a05-9036-b05e659a05c8,acox@example.com,Robert,Hernandez,student,2025-05-21 23:11:16,"{'bio': 'Student interested in Business.', 'av...",True
14,684edf4ec4be2c0a4fddb349,abbd36c4-e2ec-4d1f-80fd-40c1dcf6b722,annewelch@example.org,Kelsey,Campbell,student,2025-04-12 09:29:42,{'bio': 'Student interested in Web Development...,True
15,684ee716c4be2c0a4fddb3a0,482fff8b-aca5-4724-9eb1-037515fd4b0f,margaret82@example.net,Angela,Nguyen,student,2025-05-29 01:00:44,"{'bio': 'Student interested in Algorithms.', '...",True
16,684ee768c4be2c0a4fddb3a2,d37fcead-a55a-43c4-976c-06b92949ff5c,fnielsen@example.net,Kristine,Crawford,student,2025-01-20 14:07:32,{'bio': 'Student interested in Web Development...,True

Courses with Instructor Details:

,_id,courseId,title,description,instructorId,category,level,duration,price,tags,createdAt,updatedAt,isPublished,instructor
0,684edf4fc4be2c0a4fddb34f,40f22f8f-2850-4fce-9d56-f994afc36a21,Introduction to Python Programming,Learn the fundamentals of introduction to pyth...,054a81f8-fbd8-466a-bde2-31068cef10fe,Programming,intermediate,11.0,26.13,"[Algorithms, Programming, Data Science, Mobile...",2025-06-14 00:43:38,2025-04-27 19:46:30,False,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."
1,684edf4fc4be2c0a4fddb350,5c3c812d-c2c5-4ad0-a673-e5c42f0c4660,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,054a81f8-fbd8-466a-bde2-31068cef10fe,Data Science,beginner,9.0,12.71,"[Web Development, Business, Design, Databases]",2025-05-27 14:09:00,2025-03-09 18:47:13,False,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."
2,684edf4fc4be2c0a4fddb351,e9f86870-bfba-421e-986d-0ee9bbf15583,Web Development with JavaScript,Learn the fundamentals of web development with...,b0f9baf0-0906-47e1-bd07-08f7aaa79f3e,Web Development,intermediate,29.0,68.46,"[Programming, Web Development, Algorithms, Bus...",2025-06-04 07:26:54,2025-03-12 10:21:11,True,"{'_id': 684edf4ec4be2c0a4fddb34b, 'userId': 'b..."
3,684edf4fc4be2c0a4fddb352,16d1768b-cb54-4487-9d68-a78db8ae1d8d,Data Structures and Algorithms,Learn the fundamentals of data structures and ...,054a81f8-fbd8-466a-bde2-31068cef10fe,Algorithms,intermediate,26.0,75.31,"[Mobile Development, Business, Design, Web Dev...",2025-01-02 17:02:36,2025-05-15 19:24:41,True,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."
4,684edf4fc4be2c0a4fddb353,4fcc690c-e684-4da6-b28f-5cba64cfbc9f,Graphic Design Fundamentals,Learn the fundamentals of graphic design funda...,5405adea-63ce-46fa-90c3-343541deba41,Design,intermediate,46.0,47.24,"[Algorithms, Databases, Design, Data Science]",2025-05-01 13:35:48,2025-01-16 17:41:40,True,"{'_id': 684edf4ec4be2c0a4fddb34c, 'userId': '5..."
5,684edf4fc4be2c0a4fddb354,d41dced4-a110-410c-b268-c9251716e0c1,Business Analytics,Learn the fundamentals of business analytics t...,5405adea-63ce-46fa-90c3-343541deba41,Business,advanced,23.0,87.97,"[Data Science, Databases, Algorithms, Web Deve...",2025-01-23 06:21:43,2025-01-03 11:41:03,False,"{'_id': 684edf4ec4be2c0a4fddb34c, 'userId': '5..."
6,684edf4fc4be2c0a4fddb355,f0c7900f-8c34-4012-957d-cb127305992e,Database Management Systems,Learn the fundamentals of database management ...,b0f9baf0-0906-47e1-bd07-08f7aaa79f3e,Databases,beginner,33.0,5.19,"[Data Science, Databases, Algorithms, Business]",2025-02-10 17:46:52,2025-02-12 06:25:36,False,"{'_id': 684edf4ec4be2c0a4fddb34b, 'userId': 'b..."
7,684edf4fc4be2c0a4fddb356,49dd82df-af24-4d97-934d-df31eb9b5780,Mobile App Development,Learn the fundamentals of mobile app developme...,054a81f8-fbd8-466a-bde2-31068cef10fe,Mobile Development,intermediate,23.0,17.98,"[Algorithms, Web Development, Programming, Bus...",2025-03-25 23:30:19,2025-03-18 19:48:06,False,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."
8,684ee716c4be2c0a4fddb3a1,49dd82df-af24-4d97-934d-df31eb9b5780,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,054a81f8-fbd8-466a-bde2-31068cef10fe,Data Science,advanced,16.0,47.32,"[Design, Mobile Development, Algorithms, Progr...",2025-05-06 15:49:51,2025-03-12 14:59:36,False,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."
9,684ee768c4be2c0a4fddb3a3,49dd82df-af24-4d97-934d-df31eb9b5780,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,5405adea-63ce-46fa-90c3-343541deba41,Data Science,intermediate,13.0,1.84,"[Web Development, Mobile Development, Programm...",2025-05-27 20:42:12,2025-03-29 11:36:12,False,"{'_id': 684edf4ec4be2c0a4fddb34c, 'userId': '5..."

Programming Courses:

,_id,courseId,title,description,instructorId,category,level,duration,price,tags,createdAt,updatedAt,isPublished
0,684edf4fc4be2c0a4fddb34f,40f22f8f-2850-4fce-9d56-f994afc36a21,Introduction to Python Programming,Learn the fundamentals of introduction to pyth...,054a81f8-fbd8-466a-bde2-31068cef10fe,Programming,intermediate,11.0,26.13,"[Algorithms, Programming, Data Science, Mobile...",2025-06-14 00:43:38,2025-04-27 19:46:30,False

Students enrolled in course 40f22f8f-2850-4fce-9d56-f994afc36a21:

,_id,enrollmentId,studentId,courseId,enrollmentDate,progress,completionDate,student
0,684edf51c4be2c0a4fddb364,89911bf9-8b75-4983-a7f0-47fedea60985,4e7c99f9-02fb-4c23-8897-3d8e0ff618f2,40f22f8f-2850-4fce-9d56-f994afc36a21,2025-03-01 05:34:52,53.6,2025-04-11 14:57:00,"{'_id': 684edf4ec4be2c0a4fddb340, 'userId': '4..."

Courses matching 'learn':

,_id,courseId,title,description,instructorId,category,level,duration,price,tags,createdAt,updatedAt,isPublished
0,684edf4fc4be2c0a4fddb350,5c3c812d-c2c5-4ad0-a673-e5c42f0c4660,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,054a81f8-fbd8-466a-bde2-31068cef10fe,Data Science,beginner,9.0,12.71,"[Web Development, Business, Design, Databases]",2025-05-27 14:09:00,2025-03-09 18:47:13,False
1,684ee716c4be2c0a4fddb3a1,49dd82df-af24-4d97-934d-df31eb9b5780,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,054a81f8-fbd8-466a-bde2-31068cef10fe,Data Science,advanced,16.0,47.32,"[Design, Mobile Development, Algorithms, Progr...",2025-05-06 15:49:51,2025-03-12 14:59:36,False
2,684ee768c4be2c0a4fddb3a3,49dd82df-af24-4d97-934d-df31eb9b5780,Advanced Machine Learning,Learn the fundamentals of advanced machine lea...,5405adea-63ce-46fa-90c3-343541deba41,Data Science,intermediate,13.0,1.84,"[Web Development, Mobile Development, Programm...",2025-05-27 20:42:12,2025-03-29 11:36:12,False

## Task 3.3: Update Operations

In [39]:
# Update a user's profile
user_id = db.users.find_one({'role': 'student'})['userId']
db.users.update_one(
    {'userId': user_id},
    {'$set': {'profile.bio': 'Updated bio', 'profile.skills': ['Python', 'SQL']}}
)
print("Updated user profile:", user_id)

# Mark a course as published
course_id = db.courses.find_one({'isPublished': False})['courseId']
db.courses.update_one(
    {'courseId': course_id},
    {'$set': {'isPublished': True, 'updatedAt': datetime.now()}}
)
print("Marked course as published:", course_id)

# Update assignment grades
submission_id = db.submissions.find_one()['submissionId']
db.submissions.update_one(
    {'submissionId': submission_id},
    {'$set': {'grade': 85.0, 'feedback': 'Great work!'}}
)
print("Updated submission grade:", submission_id)

# Add tags to an existing course
db.courses.update_one(
    {'courseId': course_id},
    {'$push': {'tags': {'$each': ['new', 'trending']}}}
)
print("Added tags to course:", course_id)

Updated user profile: 0cfe81a2-61e3-41e7-b228-4f7429c5fb66
Marked course as published: 40f22f8f-2850-4fce-9d56-f994afc36a21
Updated submission grade: dc5c038b-aef8-41eb-bc80-526e38a4ae2e
Added tags to course: 40f22f8f-2850-4fce-9d56-f994afc36a21

## Task 3.4: Delete Operations

In [40]:
# Soft delete a user
user_id = db.users.find_one({'role': 'student', 'isActive': True})['userId']
db.users.update_one(
    {'userId': user_id},
    {'$set': {'isActive': False}}
)
print("Soft deleted user:", user_id)

# Delete an enrollment
enrollment_id = db.enrollments.find_one()['enrollmentId']
db.enrollments.delete_one({'enrollmentId': enrollment_id})
print("Deleted enrollment:", enrollment_id)

# Remove a lesson from a course
lesson_id = db.lessons.find_one()['lessonId']
db.lessons.delete_one({'lessonId': lesson_id})
print("Deleted lesson:", lesson_id)

Soft deleted user: 0cfe81a2-61e3-41e7-b228-4f7429c5fb66
Deleted enrollment: 5fc41ee0-0ce6-4e49-aa07-a1ae651fb00a
Deleted lesson: 4ae0f05a-d2ed-4082-854b-55c1b857fa98

# Part 4: Advanced Queries and Aggregation
## Task 4.1: Complex Queries

In [41]:
# Find courses with price between $50 and $200
price_range_courses = list(db.courses.find({
    'price': {'$gte': 50, '$lte': 200}
}))
print("Courses priced between $50 and $200:")
display(pd.DataFrame(price_range_courses))

# Get users who joined in the last 6 months
six_months_ago = datetime.now() - timedelta(days=180)
recent_users = list(db.users.find({
    'dateJoined': {'$gte': six_months_ago}
}))
print("Users joined in the last 6 months:")
display(pd.DataFrame(recent_users))

# Find courses with specific tags
courses_with_tags = list(db.courses.find({
    'tags': {'$in': ['python', 'coding']}
}))
print("Courses with tags 'python' or 'coding':")
display(pd.DataFrame(courses_with_tags))

# Retrieve assignments with due dates in the next week
next_week = datetime.now() + timedelta(days=7)
upcoming_assignments = list(db.assignments.find({
    'dueDate': {'$gte': datetime.now(), '$lte': next_week}
}))
print("Assignments due in the next week:")
display(pd.DataFrame(upcoming_assignments))

Courses priced between $50 and $200:

,_id,courseId,title,description,instructorId,category,level,duration,price,tags,createdAt,updatedAt,isPublished
0,684edf4fc4be2c0a4fddb351,e9f86870-bfba-421e-986d-0ee9bbf15583,Web Development with JavaScript,Learn the fundamentals of web development with...,b0f9baf0-0906-47e1-bd07-08f7aaa79f3e,Web Development,intermediate,29.0,68.46,"[Programming, Web Development, Algorithms, Bus...",2025-06-04 07:26:54,2025-03-12 10:21:11,True
1,684edf4fc4be2c0a4fddb352,16d1768b-cb54-4487-9d68-a78db8ae1d8d,Data Structures and Algorithms,Learn the fundamentals of data structures and ...,054a81f8-fbd8-466a-bde2-31068cef10fe,Algorithms,intermediate,26.0,75.31,"[Mobile Development, Business, Design, Web Dev...",2025-01-02 17:02:36,2025-05-15 19:24:41,True
2,684edf4fc4be2c0a4fddb354,d41dced4-a110-410c-b268-c9251716e0c1,Business Analytics,Learn the fundamentals of business analytics t...,5405adea-63ce-46fa-90c3-343541deba41,Business,advanced,23.0,87.97,"[Data Science, Databases, Algorithms, Web Deve...",2025-01-23 06:21:43,2025-01-03 11:41:03,False

Users joined in the last 6 months:

,_id,userId,email,firstName,lastName,role,dateJoined,profile,isActive
0,684edf4ec4be2c0a4fddb33b,0cfe81a2-61e3-41e7-b228-4f7429c5fb66,cantrellamanda@example.org,Deborah,Bishop,student,2025-06-03 04:44:31,"{'bio': 'Updated bio', 'avatar': 'https://pics...",False
1,684edf4ec4be2c0a4fddb33c,b1305534-e00a-4a2b-b63d-0e8aa260f846,hawkinswilliam@example.net,Scott,Wright,student,2025-03-12 12:08:51,"{'bio': 'Student interested in Algorithms.', '...",True
2,684edf4ec4be2c0a4fddb33d,c61cb5bb-d7a8-4bbd-9b31-c527e9dbf422,alicia12@example.net,John,Stephens,student,2025-01-25 09:01:43,"{'bio': 'Student interested in Programming.', ...",True
3,684edf4ec4be2c0a4fddb33e,aff8c2e0-035d-496f-810c-a21b4c4d020a,ykelly@example.net,Mary,Lindsey,student,2025-04-30 08:23:30,"{'bio': 'Student interested in Programming.', ...",True
4,684edf4ec4be2c0a4fddb33f,310fc880-9f82-46c0-9871-13f57bfb7b1d,steven16@example.org,Barbara,Gonzalez,student,2025-03-20 14:12:38,"{'bio': 'Student interested in Data Science.',...",True
5,684edf4ec4be2c0a4fddb340,4e7c99f9-02fb-4c23-8897-3d8e0ff618f2,cruzmaria@example.com,Julian,Love,student,2025-05-30 14:46:32,{'bio': 'Student interested in Web Development...,True
6,684edf4ec4be2c0a4fddb341,ab3dc4d9-aeb8-4f2e-afdb-c15e8707ebc2,vflores@example.org,Robert,Roy,student,2025-03-30 03:07:23,{'bio': 'Student interested in Web Development...,True
7,684edf4ec4be2c0a4fddb342,40f80683-b71f-4003-9fd3-90be7595f97b,duncankevin@example.com,Mark,Hunt,student,2025-02-24 07:44:32,"{'bio': 'Student interested in Databases.', 'a...",True
8,684edf4ec4be2c0a4fddb343,11282e66-ba58-4996-9919-64e0ad22e8c8,juanwilliams@example.org,Rebecca,Dawson,student,2025-01-06 17:20:39,{'bio': 'Student interested in Web Development...,True
9,684edf4ec4be2c0a4fddb344,8a9bd204-c798-45b8-9dfe-3a3a4489c6e6,josephporter@example.net,Jodi,Fields,student,2025-03-09 10:43:48,"{'bio': 'Student interested in Programming.', ...",True
10,684edf4ec4be2c0a4fddb345,5ef2d593-7b3f-481a-85b8-af3dfdaee1c7,joanna84@example.net,Richard,Miller,student,2025-02-22 12:49:25,"{'bio': 'Student interested in Programming.', ...",True
11,684edf4ec4be2c0a4fddb346,5848c3bc-dbe7-41b5-be98-908cdd9e4f68,ibrown@example.net,Jessica,Hernandez,student,2025-01-29 04:06:21,"{'bio': 'Student interested in Algorithms.', '...",True
12,684edf4ec4be2c0a4fddb347,bfbfee02-5ff0-4bbf-ae74-59c524584522,katherinepollard@example.com,Edwin,Santana,student,2025-01-08 23:38:08,{'bio': 'Student interested in Mobile Developm...,True
13,684edf4ec4be2c0a4fddb348,e3ead7e4-2e97-4a05-9036-b05e659a05c8,acox@example.com,Robert,Hernandez,student,2025-05-21 23:11:16,"{'bio': 'Student interested in Business.', 'av...",True
14,684edf4ec4be2c0a4fddb349,abbd36c4-e2ec-4d1f-80fd-40c1dcf6b722,annewelch@example.org,Kelsey,Campbell,student,2025-04-12 09:29:42,{'bio': 'Student interested in Web Development...,True
15,684edf4ec4be2c0a4fddb34a,ed4da6b1-c927-4704-8851-258aec720560,rmiller@example.net,Steven,Dean,instructor,2025-04-22 15:25:17,{'bio': 'Instructor specializing in Data Scien...,True
16,684edf4ec4be2c0a4fddb34b,b0f9baf0-0906-47e1-bd07-08f7aaa79f3e,tristan95@example.org,Christopher,Evans,instructor,2025-01-27 20:04:03,{'bio': 'Instructor specializing in Mobile Dev...,True
17,684edf4ec4be2c0a4fddb34c,5405adea-63ce-46fa-90c3-343541deba41,delacruzjeremy@example.net,Christopher,Reyes,instructor,2025-02-10 09:03:36,{'bio': 'Instructor specializing in Databases....,True
18,684edf4ec4be2c0a4fddb34d,054a81f8-fbd8-466a-bde2-31068cef10fe,gallegosjames@example.net,Joshua,Hansen,instructor,2025-03-01 15:35:17,{'bio': 'Instructor specializing in Programmin...,True
19,684edf4ec4be2c0a4fddb34e,4adabed7-0acd-4a56-8043-de3f87895c73,shawbrian@example.org,Jerome,Day,instructor,2025-03-06 06:53:28,{'bio': 'Instructor specializing in Data Scien...,True
20,684ee716c4be2c0a4fddb3a0,482fff8b-aca5-4724-9eb1-037515fd4b0f,margaret82@example.net,Angela,Nguyen,student,2025-05-29 01:00:44,"{'bio': 'Student interested in Algorithms.', '...",True
21,684ee768c4be2c0a4fddb3a2,d37fcead-a55a-43c4-976c-06b92949ff5c,fnielsen@example.net,Kristine,Crawford,student,2025-01-20 14:07:32,{'bio': 'Student interested in Web Development...,True

Courses with tags 'python' or 'coding':

Empty DataFrame
Columns: []
Index: []

Assignments due in the next week:

Empty DataFrame
Columns: []
Index: []

## Task 4.2: Aggregation Pipeline

In [42]:
# Course Enrollment Statistics
enrollment_stats = list(db.enrollments.aggregate([
    {'$group': {
        '_id': '$courseId',
        'totalEnrollments': {'$sum': 1},
        'avgProgress': {'$avg': '$progress'}
    }},
    {'$lookup': {
        'from': 'courses',
        'localField': '_id',
        'foreignField': 'courseId',
        'as': 'course'
    }},
    {'$unwind': '$course'},
    {'$group': {
        '_id': '$course.category',
        'courses': {
            '$push': {
                'title': '$course.title',
                'totalEnrollments': '$totalEnrollments',
                'avgProgress': '$avgProgress'
            }
        }
    }}
]))
print("Course Enrollment Statistics by Category:")
display(pd.DataFrame(enrollment_stats))

# Student Performance Analysis
student_performance = list(db.submissions.aggregate([
    {'$group': {
        '_id': '$studentId',
        'avgGrade': {'$avg': '$grade'},
        'totalSubmissions': {'$sum': 1}
    }},
    {'$lookup': {
        'from': 'users',
        'localField': '_id',
        'foreignField': 'userId',
        'as': 'student'
    }},
    {'$unwind': '$student'},
    {'$sort': {'avgGrade': -1}},
    {'$limit': 5}
]))
print("Top 5 Students by Average Grade:")
display(pd.DataFrame(student_performance))

# Instructor Analytics
instructor_analytics = list(db.courses.aggregate([
    {'$lookup': {
        'from': 'enrollments',
        'localField': 'courseId',
        'foreignField': 'courseId',
        'as': 'enrollments'
    }},
    {'$unwind': {'path': '$enrollments', 'preserveNullAndEmptyArrays': True}},
    {'$group': {
        '_id': '$instructorId',
        'totalStudents': {'$sum': {'$cond': [{'$ifNull': ['$enrollments', False]}, 1, 0]}},
        'totalRevenue': {'$sum': {'$cond': [{'$ifNull': ['$enrollments', False]}, '$price', 0]}}
    }},
    {'$lookup': {
        'from': 'users',
        'localField': '_id',
        'foreignField': 'userId',
        'as': 'instructor'
    }},
    {'$unwind': '$instructor'}
]))
print("Instructor Analytics:")
display(pd.DataFrame(instructor_analytics))

# Advanced Analytics: Monthly Enrollment Trends
monthly_trends = list(db.enrollments.aggregate([
    {'$group': {
        '_id': {
            'year': {'$year': '$enrollmentDate'},
            'month': {'$month': '$enrollmentDate'}
        },
        'totalEnrollments': {'$sum': 1}
    }},
    {'$sort': {'_id.year': 1, '_id.month': 1}}
]))
print("Monthly Enrollment Trends:")
display(pd.DataFrame(monthly_trends))

Course Enrollment Statistics by Category:

                  _id                                            courses
0          Algorithms  [{'title': 'Data Structures and Algorithms', '...
1  Mobile Development  [{'title': 'Mobile App Development', 'totalEnr...
2     Web Development  [{'title': 'Web Development with JavaScript', ...
3              Design  [{'title': 'Graphic Design Fundamentals', 'tot...
4           Databases  [{'title': 'Database Management Systems', 'tot...
5         Programming  [{'title': 'Introduction to Python Programming...
6            Business  [{'title': 'Business Analytics', 'totalEnrollm...
7        Data Science  [{'title': 'Advanced Machine Learning', 'total...

Top 5 Students by Average Grade:

,_id,avgGrade,totalSubmissions,student
0,c61cb5bb-d7a8-4bbd-9b31-c527e9dbf422,94.010000,1,"{'_id': 684edf4ec4be2c0a4fddb33d, 'userId': 'c..."
1,e3ead7e4-2e97-4a05-9036-b05e659a05c8,85.000000,1,"{'_id': 684edf4ec4be2c0a4fddb348, 'userId': 'e..."
2,11282e66-ba58-4996-9919-64e0ad22e8c8,71.476667,3,"{'_id': 684edf4ec4be2c0a4fddb343, 'userId': '1..."
3,4e7c99f9-02fb-4c23-8897-3d8e0ff618f2,65.280000,1,"{'_id': 684edf4ec4be2c0a4fddb340, 'userId': '4..."
4,b1305534-e00a-4a2b-b63d-0e8aa260f846,42.820000,1,"{'_id': 684edf4ec4be2c0a4fddb33c, 'userId': 'b..."

Instructor Analytics:

,_id,totalStudents,totalRevenue,instructor
0,b0f9baf0-0906-47e1-bd07-08f7aaa79f3e,3,78.84,"{'_id': 684edf4ec4be2c0a4fddb34b, 'userId': 'b..."
1,5405adea-63ce-46fa-90c3-343541deba41,5,226.86,"{'_id': 684edf4ec4be2c0a4fddb34c, 'userId': '5..."
2,054a81f8-fbd8-466a-bde2-31068cef10fe,10,345.48,"{'_id': 684edf4ec4be2c0a4fddb34d, 'userId': '0..."

Monthly Enrollment Trends:

                          _id  totalEnrollments
0  {'year': 2025, 'month': 1}                 3
1  {'year': 2025, 'month': 2}                 3
2  {'year': 2025, 'month': 3}                 3
3  {'year': 2025, 'month': 4}                 3
4  {'year': 2025, 'month': 6}                 2

# Part 5: Indexing and Performance
## Task 5.1: Index Creation

In [43]:
# User email lookup
db.users.create_index([('email', 1)], unique=True)
print("Created index on users.email")

# Course search by title and category
db.courses.create_index([('title', 1), ('category', 1)])
print("Created compound index on courses.title and courses.category")

# Assignment queries by due date
db.assignments.create_index([('dueDate', 1)])
print("Created index on assignments.dueDate")

# Enrollment queries by student and course
db.enrollments.create_index([('studentId', 1), ('courseId', 1)])
print("Created compound index on enrollments.studentId and enrollments.courseId")

Created index on users.email
Created compound index on courses.title and courses.category
Created index on assignments.dueDate
Created compound index on enrollments.studentId and enrollments.courseId

## Task 5.2: Query Optimization

In [44]:
import time

# Query 1: Course search by title (before and after index)
query = {'title': {'$regex': 'learn', '$options': 'i'}}
start_time = time.time()
explain_result = db.courses.find(query).explain()
end_time = time.time()
print("Course title search performance (with index):")
print(f"Execution time: {end_time - start_time:.4f} seconds")
print("Explain result:", explain_result['executionStats'])

# Query 2: Enrollment by student and course
query = {'studentId': db.enrollments.find_one()['studentId'], 'courseId': db.enrollments.find_one()['courseId']}
start_time = time.time()
explain_result = db.enrollments.find(query).explain()
end_time = time.time()
print("Enrollment query performance (with index):")
print(f"Execution time: {end_time - start_time:.4f} seconds")
print("Explain result:", explain_result['executionStats'])

# Query 3: Assignments by due date
query = {'dueDate': {'$gte': datetime.now()}}
start_time = time.time()
explain_result = db.assignments.find(query).explain()
end_time = time.time()
print("Assignment due date query performance (with index):")
print(f"Execution time: {end_time - start_time:.4f} seconds")
print("Explain result:", explain_result['executionStats'])

Course title search performance (with index):
Execution time: 0.1764 seconds
Explain result: {'executionSuccess': True, 'nReturned': 3, 'executionTimeMillis': 1, 'totalKeysExamined': 10, 'totalDocsExamined': 3, 'executionStages': {'isCached': False, 'stage': 'FETCH', 'nReturned': 3, 'executionTimeMillisEstimate': 1, 'works': 11, 'advanced': 3, 'needTime': 7, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'docsExamined': 3, 'alreadyHasObj': 0, 'inputStage': {'stage': 'IXSCAN', 'filter': {'title': {'$regex': 'learn', '$options': 'i'}}, 'nReturned': 3, 'executionTimeMillisEstimate': 1, 'works': 11, 'advanced': 3, 'needTime': 7, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'keyPattern': {'title': 1, 'category': 1}, 'indexName': 'title_1_category_1', 'isMultiKey': False, 'multiKeyPaths': {'title': [], 'category': []}, 'isUnique': False, 'isSparse': False, 'isPartial': False, 'indexVersion': 2, 'direction': 'forward', 'indexBounds': {'title': ['["", {})', '[/learn/i, /learn/i]'], 'category': ['[MinKey, MaxKey]']}, 'keysExamined': 10, 'seeks': 1, 'dupsTested': 0, 'dupsDropped': 0}}, 'allPlansExecution': []}
Enrollment query performance (with index):
Execution time: 0.2512 seconds
Explain result: {'executionSuccess': True, 'nReturned': 1, 'executionTimeMillis': 0, 'totalKeysExamined': 1, 'totalDocsExamined': 1, 'executionStages': {'isCached': False, 'stage': 'FETCH', 'nReturned': 1, 'executionTimeMillisEstimate': 1, 'works': 2, 'advanced': 1, 'needTime': 0, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'docsExamined': 1, 'alreadyHasObj': 0, 'inputStage': {'stage': 'IXSCAN', 'nReturned': 1, 'executionTimeMillisEstimate': 1, 'works': 2, 'advanced': 1, 'needTime': 0, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'keyPattern': {'studentId': 1, 'courseId': 1}, 'indexName': 'studentId_1_courseId_1', 'isMultiKey': False, 'multiKeyPaths': {'studentId': [], 'courseId': []}, 'isUnique': False, 'isSparse': False, 'isPartial': False, 'indexVersion': 2, 'direction': 'forward', 'indexBounds': {'studentId': ['["5848c3bc-dbe7-41b5-be98-908cdd9e4f68", "5848c3bc-dbe7-41b5-be98-908cdd9e4f68"]'], 'courseId': ['["49dd82df-af24-4d97-934d-df31eb9b5780", "49dd82df-af24-4d97-934d-df31eb9b5780"]']}, 'keysExamined': 1, 'seeks': 1, 'dupsTested': 0, 'dupsDropped': 0}}, 'allPlansExecution': []}
Assignment due date query performance (with index):
Execution time: 0.2039 seconds
Explain result: {'executionSuccess': True, 'nReturned': 0, 'executionTimeMillis': 0, 'totalKeysExamined': 0, 'totalDocsExamined': 0, 'executionStages': {'isCached': False, 'stage': 'FETCH', 'nReturned': 0, 'executionTimeMillisEstimate': 0, 'works': 1, 'advanced': 0, 'needTime': 0, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'docsExamined': 0, 'alreadyHasObj': 0, 'inputStage': {'stage': 'IXSCAN', 'nReturned': 0, 'executionTimeMillisEstimate': 0, 'works': 1, 'advanced': 0, 'needTime': 0, 'needYield': 0, 'saveState': 0, 'restoreState': 0, 'isEOF': 1, 'keyPattern': {'dueDate': 1}, 'indexName': 'dueDate_1', 'isMultiKey': False, 'multiKeyPaths': {'dueDate': []}, 'isUnique': False, 'isSparse': False, 'isPartial': False, 'indexVersion': 2, 'direction': 'forward', 'indexBounds': {'dueDate': ['[new Date(1750005685217), new Date(9223372036854775807)]']}, 'keysExamined': 0, 'seeks': 1, 'dupsTested': 0, 'dupsDropped': 0}}, 'allPlansExecution': []}

# Part 6: Data Validation and Error Handling
## Task 6.1: Schema Validation

In [45]:
try:
    # Invalid user (missing required field)
    db.users.insert_one({
        'userId': generate_id(),
        'email': 'invalid-email',  # Invalid email format
        'firstName': 'Test',
        # Missing lastName
        'role': 'student',
        'dateJoined': datetime.now(),
        'isActive': True
    })
except Exception as e:
    print("Validation error (missing lastName):", str(e))

try:
    # Invalid course (invalid level)
    db.courses.insert_one({
        'courseId': generate_id(),
        'title': 'Test Course',
        'instructorId': db.users.find_one()['userId'],
        'category': 'Programming',
        'level': 'expert',  # Invalid enum value
        'duration': 10.0,
        'price': 50.0,
        'createdAt': datetime.now(),
        'updatedAt': datetime.now(),
        'isPublished': True
    })
except Exception as e:
    print("Validation error (invalid level):", str(e))

## Task 6.2: Error Handling

In [46]:
from pymongo.errors import DuplicateKeyError

# Handle duplicate email
try:
    db.users.insert_one({
        'userId': generate_id(),
        'email': db.users.find_one()['email'],  # Duplicate email
        'firstName': fake.first_name(),
        'lastName': fake.last_name(),
        'role': 'student',
        'dateJoined': datetime.now(),
        'profile': {'bio': '', 'avatar': '', 'skills': []},
        'isActive': True
    })
except DuplicateKeyError as e:
    print("Duplicate key error:", str(e))

# Handle invalid data type
try:
    db.courses.insert_one({
        'courseId': generate_id(),
        'title': fake.catch_phrase(),
        'description': fake.text(),
        'instructorId': db.users.find_one()['userId'],
        'category': 'Programming',
        'level': 'beginner',
        'duration': '10',  # Invalid type (string instead of double)
        'price': 50.0,
        'createdAt': datetime.now(),
        'updatedAt': datetime.now(),
        'isPublished': True
    })
except Exception as e:
    print("Invalid data type error:", str(e))

Duplicate key error: E11000 duplicate key error collection: eduhub_db.users index: email_1 dup key: { email: "cantrellamanda@example.org" }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: eduhub_db.users index: email_1 dup key: { email: "cantrellamanda@example.org" }', 'keyPattern': {'email': 1}, 'keyValue': {'email': 'cantrellamanda@example.org'}}

# Bonus: Text Search Functionality

In [ ]:
# Create text index on course title and description
db.courses.create_index([('title', 'text'), ('description', 'text')])
text_search_results = list(db.courses.find(
    {'$text': {'$search': 'programming learn'}},
    {'score': {'$meta': 'textScore'}}
).sort([('score', {'$meta': 'textScore'})]))
print("Text search results for 'programming learn':")
display(pd.DataFrame(text_search_results))